body {
    margin: 0 auto;
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-size: 18px;
    font-family: 'Google Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    text-align: center;
    display: block;
}

.title {
    font-size: 4rem;
    margin-top: 20px;
    width: 90%;
    font-weight: bold;
    color: #363636;
}

.venue {
    font-size: 2.5rem;
    margin-top: 20px;
    width: 90%;
    font-weight: 400;
    color: #363636;
}

.author {
    width: 95%;
    max-width: 250px;
    font-size: 25px;
}

.affiliation {
    font-size: 22px;
    width: 95%;
    max-width: 450px;
}

.links {
    font-size: 22px;
    width: 95%;
    max-width: 180px;
}


.paper-thumbnail {
    margin: 0 auto;
    width: 30%;
    max-width: 250px;
    display: inline-block;
    vertical-align: top;
    vertical-align: top;
    padding: 2% 10% 4% 0;
}

.paper-info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 999px) {
    .paper-thumbnail {
        width: 60%;
    }

    .paper-info {
        width: 80%;
    }
}


p {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: justify;
}

h1 {
    font-weight: 300;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

h4 {
    text-align: left;
}

h5 {
    text-align: left;
}

div {
    display: inline-block;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 90%;
}

pre {
    overflow-x: auto;
    text-align: left;
    border: 1px solid grey;
    border-radius: 3px;
    background: #eeeeee;
    padding: 5px 5px 5px 10px;
    line-height: 1.2;
    white-space: pre-wrap;
}

pre code {
    text-align: left;
    word-wrap: normal;
    white-space: pre-wrap;
    font-size: 14px;
}

a:link, a:visited {
    color: #1367a7;
    text-decoration: none;
}

a:hover {
    color: #208799;
}

.layered-paper-big {
    /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
            0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
            5px 5px 0 0px #fff, /* The second layer */
            5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
            10px 10px 0 0px #fff, /* The third layer */
            10px 10px 1px 1px rgba(0,0,0,0.35), /* The third layer shadow */
            15px 15px 0 0px #fff, /* The fourth layer */
            15px 15px 1px 1px rgba(0,0,0,0.35), /* The fourth layer shadow */
            20px 20px 0 0px #fff, /* The fifth layer */
            20px 20px 1px 1px rgba(0,0,0,0.35), /* The fifth layer shadow */
            25px 25px 0 0px #fff, /* The fifth layer */
            25px 25px 1px 1px rgba(0,0,0,0.35); /* The fifth layer shadow */
    margin-left: 10px;
    margin-right: 45px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptextleft {
  visibility: hidden;
  width: 140px;
  background-color: #4a4a4a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 40%;
  right: calc(100% + 10px);
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptextleft::after {
   top: calc(50% - 10px); /* Calculates the half height minus 10px */
   left: 100%;
   border-color: transparent #4a4a4a;
   border-width: 10px 0 10px 10px;
   content: '';
   position: absolute;
   border-style: solid;
   display: block;
   width: 0;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptextleft {
  visibility: visible;
  opacity: 1;
}



.tooltip .tooltiptextright {
  visibility: hidden;
  width: 140px;
  background-color: #4a4a4a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 40%;
  left: calc(100% + 10px);
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptextright::after {
   top: calc(50% - 10px); /* Calculates the half height minus 10px */
   left: -10px;
   border-color: transparent #4a4a4a;
   border-width: 10px 10px 10px 0;
   content: '';
   position: absolute;
   border-style: solid;
   display: block;
   width: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptextright {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptexttop {
  visibility: hidden;
  width: 140px;
  background-color: #4a4a4a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 30%;
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptexttop::after {
   top: 100%; /* Calculates the half height minus 10px */
   left: calc(50% - 10px);
   border-color: #4a4a4a  transparent transparent transparent;
   border-width: 10px 10px 10px 10px;
   content: '';
   position: absolute;
   border-style: solid;
   display: block;
   width: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptexttop {
  visibility: visible;
  opacity: 1;
}


.outer-container {
    text-align: center;
}
.inner-container {
    border: 1px solid black;
    display: inline-block;
    position: relative;

}

.video-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;

}
/* video {
    width: 100%;
    height: 100%;
} */


.empty-tl {
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;

}
.empty-tr {
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;

}
.empty-bl {
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;

}
.empty-br {
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 50%;

}

.tooltip-video {
  position: absolute;
  display: inline-block;
}

/* Tooltip text */
.tooltip-video .tooltiptextleft {
  visibility: hidden;
  width: 140px;
  background-color: #4a4a4a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 40%;
  right: calc(100% + 10px);
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-video .tooltiptextleft::after {
   top: calc(50% - 10px); /* Calculates the half height minus 10px */
   left: 100%;
   border-color: transparent #4a4a4a;
   border-width: 10px 0 10px 10px;
   content: '';
   position: absolute;
   border-style: solid;
   display: block;
   width: 0;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-video:hover .tooltiptextleft {
  visibility: visible;
  opacity: 1;
}



.tooltip-video .tooltiptextright {
  visibility: hidden;
  width: 140px;
  background-color: #4a4a4a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 40%;
  left: calc(100% + 10px);
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-video .tooltiptextright::after {
   top: calc(50% - 10px); /* Calculates the half height minus 10px */
   left: -10px;
   border-color: transparent #4a4a4a;
   border-width: 10px 10px 10px 0;
   content: '';
   position: absolute;
   border-style: solid;
   display: block;
   width: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-video:hover .tooltiptextright {
  visibility: visible;
  opacity: 1;
}
.button.is-dark {
  background-color: #363636;
  border-color: transparent;
  color: #fff;
}	

.button.is-rounded {
  border-radius: 290486px;
  padding-left: calc(1em + .25em);
  padding-right: calc(1em + .25em);
}

.button.is-normal {
    font-size: 1rem;
}
.button .icon, .button .icon.is-large, .button .icon.is-medium, .button .icon.is-small {
  height: 1.5em;
  width: 1.5em;
}
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}
.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
  text-align: center;
  white-space: nowrap;
}
.button .icon:first-child:not(:last-child) {
	margin-left: calc(-.5em - 1px);
	margin-right: .25em;
	}	
	
	element {
	}
	.button.is-rounded {
	border-radius: 290486px;
	padding-left: calc(1em + .25em);
	padding-right: calc(1em + .25em);
	}

	.button.is-dark {
	background-color: #363636;
	border-color: transparent;
	color: #fff;
	}
	.link-block a {
	margin-top: 15px;
	margin-bottom: 15px;;
	}
	.button {
	background-color: #fff;
	border-color: #dbdbdb;
	border-width: 1px;
	color: #363636;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(.5em - 1px);
	padding-left: 1em;
	padding-right: 1em;
	padding-top: calc(.5em - 1px);
	text-align: center;
	white-space: nowrap;
	}
	.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
		border-top-color: transparent;
		border-top-width: 1px;
		border-right-color: transparent;
		border-right-width: 1px;
		border-bottom-color: transparent;
		border-bottom-width: 1px;
		border-left-color: transparent;
		border-left-width: 1px;
	border-radius: 4px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 1.5em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(.5em - 1px);
	padding-left: calc(.75em - 1px);
	padding-right: calc(.75em - 1px);
	padding-top: calc(.5em - 1px);
	position: relative;
	vertical-align: top;
	}